<form class="form-horizontal" role="form" *ngIf="!isUserAuthenticated">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2>Please Login</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="form-group has-danger">
        <label class="sr-only" for="email">E-Mail Address</label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem">
            <i class="fa fa-at"></i>
          </div>
          <p-dropdown optionLabel="name" appendTo="body" [options]="users" [style]="{'min-width':'100%'}" [(ngModel)]="userName" [ngModelOptions]="{standalone: true}"></p-dropdown>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="sr-only" for="password">Password</label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem">
            <i class="fa fa-key"></i>
          </div>
          <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" name="password" class="form-control"
            id="password" placeholder="Password" required>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-control-feedback">
        <span class="text-danger align-middle">
          <!-- Put password error message here -->
        </span>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top: 1rem">

    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">

      <button type="submit" (click)="login()" class="btn btn-success">
        <i class="fa fa-sign-in"></i> Login</button>

    </div>

  </div>
</form>
<div class="row mt-4 text-center">
  <div *ngIf="loginError" class="col">
    <div class="form-control-feedback ">
      <span class="text-danger align-middle">
        <i class="fa fa-close"></i> {{loginMessage}}
      </span>
    </div>
  </div>
</div>



<app-datatable [isUserAuthenticated]="isUserAuthenticated" *ngIf="isUserAuthenticated"></app-datatable>
<hr *ngIf="isUserAuthenticated">
<div *ngIf="isUserAuthenticated" class="row text-center">
  <div class="col-6 mx-auto text-center">
    <p>Upload Library CSV</p>
    <p>*Warning* Overwrites existing Database</p>
    <!-- <p-fileUpload name="myfile[]"  (uploadHandler)="myUploader($event)"></p-fileUpload> -->
    <p-fileUpload #fubauto name="myfile[]" mode="basic" customUpload="true"  (uploadHandler)="myUploader($event)" auto="true" chooseLabel="Browse"></p-fileUpload>
  </div>
</div>
<hr *ngIf="isUserAuthenticated">
