<div class="row mt-1 mb-1 ml-1 text-center">
  <div class="col">
    <h4>Library Resources</h4>
    <p>Resources can be added and updated by any member of the band. They can be anything from helpful youtube videos, articles,
      or links to sheet music</p>
    <p>Have an idea on how to make this page better?
      <a href="mailto:forest.newark@gmail.com?Subject=246 Band Site" target="_top">Email Forest</a>
    </p>
  </div>
</div>

<div class="row">
  <div class="col ml-5 mr-5">

    <p-table #dt [responsive]="true" [columns]="cols" [value]="resources" selectionMode="single" [autoLayout]="true" [(selection)]="selectedResource"
      (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
      <ng-template pTemplate="caption">
        <div style="text-align:center">
          <p>Resource Table</p>
        </div>
        <div class="row">
          <div class="col mb-2">
           
            <button type="button" pButton (click)="showDialogToAdd()" label="Add"></button>
          </div>
          <div class="col  mb-2">
              <input type="text" pInputText placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">  
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>

        <tr>
          <th *ngFor="let col of columns" [ngSwitch]="col.field">

            <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">


          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            <div *ngIf="col.field === 'location'">

              <a href="{{rowData[col.field]}}" target="_blank">Link</a>
            </div>
            <div *ngIf="col.field !== 'location'">
              {{rowData[col.field]}}
            </div>



          </td>
        </tr>
      </ng-template>

    </p-table>

  </div>
</div>


<p-dialog header="Resource Details" [(visible)]="displayDialog" [width]="500" [responsive]="true" showEffect="fade" [modal]="true">
  <div class="container" *ngIf="resource">


    <div class="row">
      <div class="col-4">
        <p>Title</p>
      </div>
      <div class="col-8">
        <input pInputText  style="min-width:100%" id="Title" [(ngModel)]="resource.title" />
      </div>
    </div>


    <div class="row">
      <div class="col-4">
        <p>Instrument</p>
      </div>
      <div class="col-8">
        <input pInputText style="min-width:100%" id="Instrument(s)" [(ngModel)]="resource.instrument" />
      </div>
    </div>


    <div class="row">
      <div class="col-4">
        <p>Ensemble/Category</p>
      </div>
      <div class="col-8">
        <input pInputText style="min-width:100%" id="Ensemble" [(ngModel)]="resource.ensemble" />
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <p>Location(URL)</p>
      </div>
      <div class="col-8">
        <input pInputText style="min-width:100%" id="Location" [(ngModel)]="resource.location" />
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <p>Notes</p>
      </div>
      <div class="col-8">

        <textarea pInputTextarea style="min-width:100%" [(ngModel)]="resource.notes"></textarea>
      </div>
    </div>

  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton (click)="delete()" class="ui-button-danger" label="Delete"></button>
      <button type="button" pButton (click)="save()" class="ui-button-success" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>
