<html>

<head>
  <meta charset="utf-8">
  <title>Army Library</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
  <app-navbar></app-navbar>

  <div *ngIf="!loading" id="body-container">
    <router-outlet></router-outlet>
  </div>

  <div class="text-center"  *ngIf="loading" id="body-container">
      <hr>
      <p>Establishing Connection to Data Server...</p>
      <p-progressSpinner *ngIf="spinner"></p-progressSpinner>
      <p *ngIf="fail">Unable to contact server. My free server might still be "waking up". Try Refreshing the page</p>
      <hr>
  </div>


</body>

</html>
